{% load static %} <!-- le aviso que voy a cargar imagenes o estilos css-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APACH Charata</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header class="header">

        <div class="logo">
            <img src="{% static 'logo.png' %}" alt="" width="150" height="150">
        </div>

        <h1 class="titulo"><a href="/">APACH Charata</a></h1>        

        <nav class="navbar">
            <ul>
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/Veterinarios" class="nav-link">Veterinarios</a>
                </li>
                <li class="nav-item">
                    <a href="/Tareas" class="nav-link">Eventos</a>
                </li>
                <li class="nav-item">
                    <a href="/Donar" class="nav-link">Donar</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Cerrar sesión</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/signup" class="nav-link">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a href="/signin" class="nav-link">Iniciar Sesión</a>
                </li>                  
                {% endif %}
                <form class="d-flex" role="search">
					<input class="form-control me-2" type="buscar" placeholder="Buscar" aria-label="Buscar">
					<button class="btn btn-dark">
					  Buscar
					</button>
				</form>  
            </ul>
        </nav>
 

    </header>


    
    {% block content %}
    
    {% endblock %}

        <!--arranca el footer -->
        <footer class="bd-footer py-4 py-md-5 mt-5 bg-warning">
            <div class="container py-4 py-md-5 px-4 px-md-3">
              <div class="row">
                <div class="col-lg-3 mb-3">
                  
                  <ul class="list-unstyled small text-muted">
                    <div class="logo_abajo">
                    <li class="mb-2" ><img src="{% static 'logo.png' %}" height="130" width="130" ></li>
                    </div>
                    <li class="mb-2 text-dark">Asociación Proctetora de Animales</li>
                    <li class="mb-2 text-dark">Asociación Sin Fines de Lucro</li>
                    <li class="mb-2 text-dark">Charata, Chaco</li>                          
                  </ul>
                </div>
                <div  class="col-6 col-lg-2 offset-lg-1 mb-3">
                  <h5>Contactos</h5>
                  <ul class="list-unstyled">
                    <li class="mb-2"><a href="https://www.facebook.com/Apachprotectoradeanimales" target="_blank">Facebook</a></li>
                    <li class="mb-2"><a href="https://www.instagram.com/apacharata/" target="_blank">Instagram</a></li>
                    <li class="mb-2"><p>Correo Electronico: <a href="mailto:apacharata@hotmail.com">apacharata@hotmail.com</a></p></li>
                    <li class="mb-2"><p>Telefono: 3731-439977</p></li>                  
                  </ul>
                </div>
                <div class="col-6 col-lg-3 mb-3">
                  <h5>Te Esperamos!</h5>
                  <ul class="list-unstyled">
                    <p>Ubicacion: Charata, Chaco</p>
                  </ul>
                </div>
                <div class="col-6 col-lg-3 mb-3">
                  <h5>Más Información</h5>
                  <ul class="list-unstyled">
                    <li class="mb-2"><a href="file:///C:/ACTIVIDADES%20DEL%20INFO/Ejercicios%20con%20DJANGO/prueba1/templates/index.html/Acerca De">Acerca De</a></li>
                    <li class="mb-2"><a href="file:///C:/ACTIVIDADES%20DEL%20INFO/Ejercicios%20con%20DJANGO/prueba1/templates/index.html/Nuestro Equipo">Nuestro Equipo</a></li>
                    <li class="mb-2"><a href="file:///C:/ACTIVIDADES%20DEL%20INFO/Ejercicios%20con%20DJANGO/prueba1/templates/index.html/Ayuda y Preguntas Frecuentes">Ayuda y Pregutas Frecuentes</a></li>
                    <li class="mb-2"><a href="file:///C:/ACTIVIDADES%20DEL%20INFO/Ejercicios%20con%20DJANGO/prueba1/templates/index.html/Terminos y Servicios">Terminos de Servicios</a></li>
                    <li class="mb-2"><a href="file:///C:/ACTIVIDADES%20DEL%20INFO/Ejercicios%20con%20DJANGO/prueba1/templates/index.html/Politicas de Privacidad">Politicas de Privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </footer> 

</body>
</html>