{% extends 'layouts/base.html' %}

{% load static %} <!-- le aviso que voy a cargar imagenes-->

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apach Charata</title>
</head>
<body>

<main class="container py-2">
  <section class="card card-body">
      <div class="textoHome" >
          <h2  class="text-center">Quiénes somos?</h2>
          <p>
              Nuestro grupo es una asociación de personas que tienen una causa en común: EL AMOR INCONDICIONAL POR LOS ANIMALES DOMESTICOS Y SILVESTRES. Aclaramos que nuestra tarea es desde el corazón y solo a voluntad. Esta Agrupación nace a fines del año 2000 como una preocupación ciudadana por el cuidado de animales de la calle (perros y gatos) entonces éramos la llamada informalmente: "SOCIEDAD PROTECTORA DE ANIMALES". En el mes de septiembre del 2010 fuimos reconocidos por APACH RESISTENCIA, para trabajar en nombre de APACH DELEGACION CHARATA.
          </p>
          <h2 class="text-center">Objetivos</h2>
          <p>
              Difundir, promover y proteger los derechos de los animales
              Fomentar la tenencia responsable
              Inculcar en el ser humano el amor por los animales domésticos o salvajes
              Difundir la esterilización como único método ético de control de la reproducción de la fauna urbana
              Realizar campañas de desparasitaciones, castraciones y sanidad a grupos caninos y felinos vulnerables, a través del asesoramiento de un profesional veterinario
              Lograr el interés de otros grupos sociales en colaborar en la ayuda de los animales
              
          </p>
          <h2 class="text-center">Importante</h2>
          <p>
              Rechazamos el hacimiento animal ya sea en guarderías caninas y felinas; por el contrario creemos que la castración es el método más efectivo y seguro para lograr el control del crecimiento poblacional de animales no deseados
          </p>   

      </div>
  </section>
</main>
 
    <img src="{% static 'Mascotas.png' %}" alt="" width="600" class="imagen_mascotas">






</body>
</html>



{% endblock %}

