{% extends 'layouts/base.html' %}

{% load static %} <!-- le aviso que voy a cargar imagenes-->

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apach Charata</title>
</head>
<body>

    <div class="textoHome">
        <h2>Quiénes somos?</h2>
        <p>
            Nuestro grupo es una asociación de personas que tienen una causa en común: EL AMOR INCONDICIONAL POR LOS ANIMALES DOMESTICOS Y SILVESTRES. Aclaramos que nuestra tarea es desde el corazón y solo a voluntad. Esta Agrupación nace a fines del año 2000 como una preocupación ciudadana por el cuidado de animales de la calle (perros y gatos) entonces éramos la llamada informalmente: "SOCIEDAD PROTECTORA DE ANIMALES". En el mes de septiembre del 2010 fuimos reconocidos por APACH RESISTENCIA, para trabajar en nombre de APACH DELEGACION CHARATA.
        </p>
        <h2>Objetivos</h2>
        <p>
            Difundir, promover y proteger los derechos de los animales
            Fomentar la tenencia responsable
            Inculcar en el ser humano el amor por los animales domésticos o salvajes
            Difundir la esterilización como único método ético de control de la reproducción de la fauna urbana
            Realizar campañas de desparasitaciones, castraciones y sanidad a grupos caninos y felinos vulnerables, a través del asesoramiento de un profesional veterinario
            Lograr el interés de otros grupos sociales en colaborar en la ayuda de los animales
            
        </p>
        <h2>Importante</h2>
        <p>
            Rechazamos el hacimiento animal ya sea en guarderías caninas y felinas; por el contrario creemos que la castración es el método más efectivo y seguro para lograr el control del crecimiento poblacional de animales no deseados
        </p>   

    </div>
 
    <img src="{% static 'Mascotas.png' %}" alt="" width="600">


    <!--arranca el footer -->
    <footer class="bd-footer py-4 py-md-5 mt-5 bg-warning">
        <div class="container py-4 py-md-5 px-4 px-md-3">
          <div class="row">
            <div class="col-lg-3 mb-3">
              
              <ul class="list-unstyled small text-muted">
                <li class="mb-2"><img src="{% static 'img/Apach_Charata.png' %}"></li>
                <li class="mb-2 text-dark">Asociación Proctetora de Animales</li>
                <li class="mb-2 text-dark">Asociación Sin Fines de Lucro</li>
                <li class="mb-2 text-dark">Charata, Chaco</li>                          
              </ul>
            </div>
            <div  class="col-6 col-lg-2 offset-lg-1 mb-3">
              <h5>Contactos</h5>
              <ul class="list-unstyled">
                <li class="mb-2"><a href="https://www.facebook.com/Apachprotectoradeanimales" target="_blank">Facebook</a></li>
                <li class="mb-2"><a href="https://www.instagram.com/apacharata/" target="_blank">Instagram</a></li>
                <li class="mb-2"><p>Correo Electronico: <a href="mailto:apacharata@hotmail.com">apacharata@hotmail.com</a></p></li>
                <li class="mb-2"><p>Telefono: 3731-439977</p></li>                  
              </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
              <h5>Te Esperamos!</h5>
              <ul class="list-unstyled">
                <p>Ubicacion: Charata, Chaco</p>
              </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
              <h5>Más Información</h5>
              <ul class="list-unstyled">
                <li class="mb-2"><a href="file:///C:/ACTIVIDADES%20DEL%20INFO/Ejercicios%20con%20DJANGO/prueba1/templates/index.html/Acerca De">Acerca De</a></li>
                <li class="mb-2"><a href="file:///C:/ACTIVIDADES%20DEL%20INFO/Ejercicios%20con%20DJANGO/prueba1/templates/index.html/Nuestro Equipo">Nuestro Equipo</a></li>
                <li class="mb-2"><a href="file:///C:/ACTIVIDADES%20DEL%20INFO/Ejercicios%20con%20DJANGO/prueba1/templates/index.html/Ayuda y Preguntas Frecuentes">Ayuda y Pregutas Frecuentes</a></li>
                <li class="mb-2"><a href="file:///C:/ACTIVIDADES%20DEL%20INFO/Ejercicios%20con%20DJANGO/prueba1/templates/index.html/Terminos y Servicios">Terminos de Servicios</a></li>
                <li class="mb-2"><a href="file:///C:/ACTIVIDADES%20DEL%20INFO/Ejercicios%20con%20DJANGO/prueba1/templates/index.html/Politicas de Privacidad">Politicas de Privacidad</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer> 



</body>
</html>



{% endblock %}

