{% extends 'layouts/base.html' %}

{% block titulo %}VETERINARIOS{% endblock titulo %}

{% block content %}
<div class="estilo_vet">
    <h1>VETERINARIOS EN CHARATA</h1>
    <p>Al hacer click en las patitas rojas puede ver toda la información sobre las distintas veterinarias.</p>
    <div style="padding: 60px 120px 120px 180px;"> 
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1bC8aGlJIRjV_x7czB9nPSSQFBCd87v0&ehbc=2E312F" width="80%" height="620"></iframe>
    </div>
</div>


{% endblock %}

