body{
    background: #f9c6ae;
    color: #968c9c;
}

.navbar {
    background: #474647;
    padding: 10px 15px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar ul li a:hover{
    color: aquamarine;
}